<html>
    <head>
        <title>{{ brand.getName }}}</title>
    </head>
    <body>
        <h1>{{ brand.getName }}</h1>
        {% if stores is not empty %}
        <p>Here are the stores that carry {{ brand.getName }}</p>
        <ul>
            {% for store in stores %}
                <p>{{ store.getName }}
            {% endfor %}
        </ul>
        {% else %}
            <p> No stores carry {{ brand.getName }}</p>
        {% endif %}

        <form action="/add_stores" method="post">
            <input type="hidden" name="brand_id" value="{{ brand.getId }}">
            <label for="store_id">Select a store</label>
            <select name="store_id" type="text">
                {% for store in all_stores %}
                    <option value="{{ store.getId }}">{{ store.getName }}</option>
                {% endfor %}
            </select>
            <button type="submit">Add store to {{ brand.getName }}</button>
        </form>


        <form action="/brands">
            <button type="submit">Back</button>
        </form>
    </body>
</html>
